
body:not(.no-heading-level-in-lp) .is-live-preview .cm-header::before {
    font-family: var(hsl(var(280) var(18%) 50%));
    font-size: .9rem;
    font-style: normal;
    line-height: 1em;
    color:  hsl(var(280) var(18%) 50%);
    position: relative;
    bottom: 1px;
    left: -2px;
    padding-right: 4px;
    padding-left: 4px
}

body:not(.no-heading-level-in-lp) .is-live-preview .cm-line:not(.cm-active) > .cm-header-1::before {
    content: "H1"
}

body:not(.no-heading-level-in-lp) .is-live-preview .cm-line:not(.cm-active) > .cm-header-2::before {
    content: "H2"
}

body:not(.no-heading-level-in-lp) .is-live-preview .cm-line:not(.cm-active) > .cm-header-3::before {
    content: "H3"
}

body:not(.no-heading-level-in-lp) .is-live-preview .cm-line:not(.cm-active) > .cm-header-4::before {
    content: "H4"
}

body:not(.no-heading-level-in-lp) .is-live-preview .cm-line:not(.cm-active) > .cm-header-5::before {
    content: "H5"
}

body:not(.no-heading-level-in-lp) .is-live-preview .cm-line:not(.cm-active) > .cm-header-6::before {
    content: "H6"
}


